@import "config";
@import "utilities";

// Header

#header {
  background: url("../img/5f68ed914ee4d86a171fab47_design-tools-for-computer201201.jpg")
    no-repeat center 5% / cover;
  height: 100vh;
  .navbar {
    position: fixed;
    background-color: $darkC;
    transition: 0.5s;
    z-index: 2;
    width: 100%;

    .overlay-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      width: 100%;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        transition: transform 0.7s;

        &:hover {
          transform: scale(1.2);
        }

        a {
          padding-left: 2.5rem;
          color: $textC;
        }
      }
    }
  }
}

// SECTION : WHAT WE DO
#whatWeDo {
  .wwd-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;

    &.show .text-content,
    &.show .image-content {
      transform: translate3d(0, 0, 0);
    }

    .text-content {
      transform: translate3d(-30rem, 3rem, -30rem);
      align-self: center;
      border-right: 3px solid $textC;
      padding-right: 5rem;
      transition: transform 1s;
    }

    .image-content {
      align-self: center;
      transform: translate3d(30rem, -3rem, 30rem);
      transition: transform 0.7s linear 0.5s;
    }
  }
}

#design {
  .about-design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;

    h1 {
      background: linear-gradient(to right, $darkC, $secondaryC);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text-container {
      &.show .text {
        border: 1px solid rgba($darkC, 0.3);
        border-radius: 30% 5% 30% 5%;
        box-shadow: 1px 1px 15px $secondaryC;
        opacity: 1;
      }

      .text {
        padding: 3rem;
        opacity: 0;
        color: $darkTextC;
        transition: all 1s linear 0.3s;
      }
    }
  }
}

#carousel {
  .carousel-container {
    position: relative;
    display: grid !important;
    .slide-1 {
      background: url("../img/5f607e88c268e46148a68783_CS2520IMG2520125402x-p-2000.jpeg")
        no-repeat 0 30% / cover;
      height: 600px;
    }

    .slide-2 {
      background: url("../img/5f6d82792ee39e7ced051bd6_slide2.jpg") no-repeat 0
        30% / cover;
      height: 600px;
    }
  }
}
