@import "config";
@import "utilities";

// SECTION : WHAT WE DO
#whatWeDo {
  .wwd-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;

    &.show .text-content,
    &.show .image-content {
      transform: translate3d(0, 0, 0);
    }

    .text-content {
      transform: translate3d(-30rem, 3rem, -30rem);
      align-self: center;
      border-right: 3px solid $textC;
      padding-right: 5rem;
      transition: transform 1s;
    }

    .image-content {
      align-self: center;
      transform: translate3d(30rem, -3rem, 30rem);
      transition: transform 0.7s linear 0.5s;
    }
  }
}

#design {
  .about-design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;

    h1 {
      background: linear-gradient(to right, $darkC, $secondaryC);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text-container {
      &.show .text {
        border: 1px solid rgba($darkC, 0.3);
        border-radius: 30% 5% 30% 5%;
        box-shadow: 1px 1px 15px $secondaryC;
        opacity: 1;
      }

      .text {
        padding: 3rem;
        opacity: 0;
        color: $darkTextC;
        transition: all 1s linear 0.3s;
      }
    }
  }
}

#carousel {
  .carousel-container {
    position: relative;
    display: grid !important;
    .slide-1 {
      background: url("../img/5f607e88c268e46148a68783_CS2520IMG2520125402x-p-2000.jpeg")
        no-repeat 0 30% / cover;
      height: 600px;
    }

    .slide-2 {
      background: url("../img/5f6d82792ee39e7ced051bd6_slide2.jpg") no-repeat 0
        30% / cover;
      height: 600px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
      }
      .dots {
        height: 14px;
        width: 14px;
        background: url("../dist/img/angle-arrow-pointing-to-right.png")
          no-repeat;
        margin: 6px;

        &:hover {
          cursor: pointer;
        }
      }

      li.slick-active div {
        background: #fff;
      }
    }
  }
}
