@import "config";

.container {
  max-width: 1280px;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

.title {
  background: linear-gradient(to right, $textC, $darkTextC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
  font: {
    size: map-get($fontSizes, "$xlSize");
    weight: 900;
  }
  line-height: 2rem;
}

.text {
  color: $lightTextC;
  padding-bottom: 1rem;
  font : {
    family: "Roboto", sans-serif;
    size: map-get($fontSizes, "mSize");
    weight: 400;
  }
  line-height: 1.6rem;
}

%btn-shared {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font: {
    size: map-get($fontSizes, "mSize");
    weight: 400;
  }
  transition: all 0.4s;

  &:hover {
    border-radius: 2rem;
    border-color: $lightC;
  }
}

.btn {
  &-dark {
    @extend %btn-shared;
    color: $lightTextC;
    background: $darkC;
    border: 1px solid rgba($secondaryC, 0.6);
  }
  &-light {
    @extend %btn-shared;
    color: $darkC;
    background: $lightC;
  }
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 3.5rem 0;
}
.py-3 {
  padding: 5rem 0;
}

.bg-dark {
  background: $darkC;
}

.bg-light {
  background: $lightC;
}

.navbar.top {
  background: transparent !important;
  border: none !important;
}

.slick-dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.dots {
  height: 14px;
  width: 14px;

  margin: 6px;

  &:hover {
    cursor: pointer;
  }
}

li.slick-active div {
  background: #fff;
}
