@import "config";

.container {
  max-width: 1250px;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

.title {
  background: linear-gradient(to right, $textC, $darkTextC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem 0;
  padding-left: 3.125rem;
  text-transform: uppercase;
  font: {
    size: map-get($fontSizes, "$xlSize");
    weight: 900;
  }
  line-height: 2rem;
}

.text {
  color: $lightTextC;
  padding-bottom: 1rem;
  font : {
    family: "Roboto", sans-serif;
    size: map-get($fontSizes, "mSize");
    weight: 400;
  }
  line-height: 1.6rem;
}

%btn-shared {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 3.125rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font: {
    size: map-get($fontSizes, "mSize");
    weight: 400;
  }
  transition: all 0.4s;

  &:hover {
    border-radius: 2rem;
    border-color: $lightC;
  }
}

.btn {
  &-dark {
    @extend %btn-shared;
    color: $lightTextC;
    background: $darkC;
    border: 1px solid rgba($secondaryC, 0.6);
  }
  &-light {
    @extend %btn-shared;
    color: $darkC;
    background: $lightC;
  }
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 3.5rem 0;
}
.py-3 {
  padding: 5rem 0;
}

.bg-dark {
  background: $darkC;
}

.bg-light {
  background: $lightC;
}

.navbar.top {
  background: transparent !important;
  border: none !important;
}

.slick-next {
  position: absolute;
  font-size: 48px;
  background: transparent;
  color: $lightC;
  right: 100px;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  top: 30px;
  cursor: pointer;
}

.slick-prev {
  position: absolute;
  font-size: 48px;
  background: transparent;
  color: $lightC;
  right: 150px;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  z-index: 1;
  top: 30px;
  cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
